{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-kSDOocJ2+VVyEgPcdXl+RzYJ6ecpU6PlqGMGcNsv3gMOteQJzHdAx/lfX6gEnkRJGrNF6UZPl6zM+5x5/E5nGw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=FontName&display=swap">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;600&display=swap" rel="stylesheet">
    <style>

      /*Register etc */
.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}

.gradient-custom-2 {
/* fallback for old browsers */
background-color: #022041;
/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgb(176, 176, 176), rgb(176, 176, 176));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: -webkit-linear-gradient(to right, rgb(176, 176, 176), rgb(176, 176, 176));
}

.bg-indigo {
background-color: #02010a;
}

      .account{
        position: relative;text-align: center;top: 40%; font-size: 50px; line-height: 100%;text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); color: white;
      }
      .userIMG{
        position: relative;width:80;height: 87px;left:48% ;top:-100px;filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
      }

      .rectangle-container{
        display: flex;
        justify-content: center;
        padding-top: 20px;

      }

      .recICO{
        position:relative ;
        width: 80px;
        height: 80px;
        left:70%;
        bottom:20px
      }

  </style>
  </head>
  <body style="background-color:#022041;">
    
    

    <div>
      <div>
        <div style="display: flex;justify-content: center;">
          <div class="rectangle5" style="width: 1920px;height: 207px;left: 0px">
            

            <section >
            <div style="padding-top:50px;padding-bottom: 50px;display: flex;justify-content: center;background-color: #022041;;">
              <div class="Rectangle1" style="width: 85%; height: 750px; background-color: rgba(206.13, 199.39, 164.04, 1);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
               border-radius: 30px;
               position:relative">
               
               <p class="Investmentthat can reach the Moon!" style="position: relative;
               width: 563px;
               height: 150px;
               left: 10%;
               top: 10%;
               font-family: 'Fredoka', sans-serif;
               font-style: bold;
               font-weight: 700;
               font-size: 70px;
               line-height: 115%;">Investment that can reach the Moon!</p>


               <p style="position: relative;
               width: 666px;
               height: 240px;
               left: 10%;
               top: 40%;
               
               font-family: 'Fredoka';
               font-style: bold;
               font-weight: 600;
               font-size: 45px;
               line-height: 115%;">From you’r desk or on the go, we have the right platform for you!</p>



              <img style="box-sizing: border-box;  
              position: absolute;
              width: 287.48px;
              height: 579px;
              left: 60%;
              top: 10%;
              background: url(News.png);
              filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
              border-radius: 40px;" src="{% static 'css/News.png' %}"/>
              <img style="box-sizing: border-box;

              position: absolute;
              width: 351.37px;
              height: 668.86px;
              left: 70%;
              top: 10%;
              
              background: url(Portfolio.png);
              filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
              border-radius: 50px;
              transform: rotate(12.23deg);" 
              
              src="{% static 'css/Portfolio.png' %}"/>


              <div>
              <button class="bg-gradient-to-b from-gray-800 shadow rounded-3xl" style="position: absolute;
              width: 600px;
              height: 150px;
              left: 10%;
              top: 90%;
              
              background: linear-gradient(0deg, #021C4E, #021C4E);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              border-radius: 42px;"
              onclick="scrollToContent();">
              


              <p class="text-5xl leading-10 text-white" style="position: absolute;
              width: 467px;
              height: 84px;
              left: 80px;
              top: 35px;

              
              font-family: 'Fredoka';
               font-style: bold;
               font-weight: 600;
               font-size: 45px;
               line-height: 115%;
              
              color: #FFFFFF;
              
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">Sign up  ↓</p>

              </button>
              <script>
                function scrollToContent() {
                  const content = document.getElementById('content');
                  content.scrollIntoView({ behavior: 'smooth' });
                }
              </script>
              </div>
              </div>
            </div>
            </section>

            <section id="content">
              <div style="padding-top:100px;padding-bottom: 50px;display: flex;justify-content: center;background-color: #022041;;">
                <div class="Rectangle1" style="width: 85%; height: 720px;  background-color: rgba(206.13, 199.39, 164.04, 1);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                 border-radius: 30px;">
                 <img style="box-sizing: border-box;
                          position: relative;
                          width: 40%;
                          height: 55%;
                          left: 5%;
                          top:20%;
                          background: url(SL_022321_41020_14.jpg);
                          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                          border-radius: 30px;" 
                       
                       src="{% static 'css/Rectangle 5.png' %}"/>
                 <div style="position: relative;
                 width: 600px;
                 height: 688px;
                 left: 50%;
                 bottom:52%;
                 background: rgba(105, 94, 232, 0.08);
                 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                 border-radius: 30px;">
              
                 <h3 style="padding-top: 5%;padding-bottom: 5%;padding-left: 40%; font-family: 'Fredoka';
                 font-style: bold;
                 font-weight: 600;
                 font-size: 35px;
                 line-height: 115%;">Register</h3>
                          <form method="post" style=" font-family: 'Fredoka';
                          padding-left: 0%;

                          font-weight: 600;
                          font-size: 20px;
                          line-height: 115%;">
                            {% csrf_token %}
                            <div class="row" style="padding-left: 100px;">
                              <div class="col-md-5 mb-4">
                                <div class="form-outline" >
                                  <input type="text" id="name" class="form-control form-control-lg" name="name" required/>
                                  <label class="form-label" for="name">Name</label>
                                </div>
                              </div>
                              <div class="col-md-5 mb-4">
                                <div class="form-outline">
                                  <input type="text" id="last_name" class="form-control form-control-lg" name="last_name" required/>
                                  <label class="form-label" for="last_name">Last Name</label>
                                </div>
                              </div>
                            </div>
                            <div class="row" style="padding-left: 100px;">
                              <div class="col-md-10 mb-4">
                                <div class="form-outline">
                                  <input type="text" id="phone" class="form-control form-control-lg" name="phone" required/>
                                  <label class="form-label" for="phone">Phone</label>
                                </div>
                              </div>
                              
                            </div>
                            <div class="row" style="padding-left: 100px;">
                              <div class="col-md-10 mb-4">
                                <div class="form-outline">
                                  <input type="text" id="country" class="form-control form-control-lg" name="country" required/>
                                  <label class="form-label" for="country">Country</label>
                                </div>
                              </div>
                            </div>


                              
                            <div class="row" style="padding-left: 100px;">
                              <div class="col-md-10 mb-4">
                              <div class="form-outline form-white">
                                  <input type="text" id="email" class="form-control form-control-lg" name="email" required/>
                                  <label class="form-label" for="email">Email</label>
                                  
                                </div>
                              </div>
                              
                              
                              <div class="mb-4 pb-2"style="padding-left: 8%;">
                                <label for="id_experience" class="form-label">Have you had prior experience?</label>
                                <select name="experience" id="experience" class="form-select">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                              </div>
                              <div class="mt-2 pt-2" style="padding-left: 30%;">
                                <input class="btn btn-primary btn-lg" type="submit" value="Register" style="background-color: #022041;">
                              </div>
                          </form>
                </div>
                 
                             
                 </div>
                 

                </div>




            </section>
            
         </div>

    







    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNSbN+2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>
{% endblock %}

 